<header>
<!-- title of gif <h3><%= gif.name %></h3> -->

<div class="gif-column">
<%= image_tag("thumbs.png",:alt => "thumbsup") %>
	<h4 style="display:inline;margin-top:10px;position:relative;top:2px;padding:5px;"><%= gif.score %></h4>
</div>
</header>