<div class="container">
<div class="row">
	<div class="col-lg-12">
		<h2 class="text-primary">What is AniKawaii?</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">AniKawaii is built on the Ruby on Rails framework along with bootstrap as the front-end. <br>It is a hobby project that wraithseeker made to familiar himself with the Ruby on Rails Environment.</span></p>
	</div>

	<div class="col-lg-12">
		<h2 class="text-primary">Where does AniKawaii get it's content from?</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">It gets content from anime subreddits and aggregates them altogether.</span></p>
	</div>

	<div class="col-lg-12">
		<h2 class="text-primary">Future Features?</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<ul class="list-group">
		  <li class="list-group-item"><span class="read">More sources of Animegifs</span></li>
		  <li class="list-group-item"><span class="read">Better UI, I have no aethestic sense</span></li>
		  <li class="list-group-item"><span class="read">Make the site interactable</span></li>
		</ul>
	</div>

	<div class="col-lg-12">
		<a href="https://github.com/wraithseeker/AniKawaii">
		<h2 class="text-primary">AniKawaii Github</h2>
		</a>
	</div>

	
</div>
</div>