<div class="container">
<div class="row">

	<div class="col-lg-4">
	<%= image_tag("gochuumon.jpg",class: "img-responsive ", :alt => "gochuumon what") %>
</div>
	<div class="col-lg-12">
		<h2>What is AniKawaii?</h2>
		
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">AniKawaii is built using Rails along with bootstrap as the front-end. <br>It is a hobby project that wraithseeker made to learn Rails and have fun. It presents anime gifs in a clean and sleek format.</span></p>
	</div>

	<div class="col-lg-12">
		<h2>Where does AniKawaii get the anime GIFs from?</h2>
	</div>

	<div class="col-lg-12 indent-text">
		<p><span class="read">The gifs are fetched and parsed from anime subreddits.</span></p>
	</div>

	<div class="col-lg-12">
		<h2>Current Project</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">I also blog about my current Rails project at <a href="http://www.blog.visualnoveler.com">Visualnoveler blog</a> for the website <a href="http://www.visualnoveler.com">Visualnoveler</a> and stuff that you can do over at the website includes tracking and discovering visual novels.</span></p>
	</div>
	

	<div class="col-lg-12">
		<h2>Future Features?</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<ul class="list-group">
		  <li><span class="read">More sources of Animegifs</span></li>
		  <li><span class="read">Short anime video clips</span></li>
		</ul>
	</div>

	<div class="col-lg-12">
		<a href="https://github.com/wraithseeker/AniKawaii">
		<h4 class="text-primary">AniKawaii Github</h4>
		</a>
	</div>

	
</div>
</div>