<div class="container">
<div class="row">

	<div class="col-lg-4">
	<%= image_tag("gochuumon.jpg",class: "img-responsive ", :alt => "gochuumon what") %>
</div>
	<div class="col-lg-12">
		<h2>What is AniKawaii?</h2>
		
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">AniKawaii is built using Rails along with bootstrap as the front-end. <br>It is a hobby project that wraithseeker made to learn Rails and have fun. It presents anime gifs in a clean and sleek format.</span></p>
	</div>

	<div class="col-lg-12">
		<h2>Where does AniKawaii get the anime GIFs from?</h2>
	</div>

	<div class="col-lg-12 indent-text">
		<p><span class="read">The gifs are fetched and parsed from anime subreddits.</span></p>
	</div>

	<div class="col-lg-12">
		<h2>Current Project</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<p><span class="read">I'm currently developing stuff at <a href="http://www.visualnoveler.com">Visualnoveler</a>, a website for people to track and discover visual novels.</span></p>
	</div>
	

	<div class="col-lg-12">
		<h2>Future Features?</h2>
	</div>
	<div class="col-lg-12 indent-text">
		<ul class="list-group">
		  <li><span class="read">More sources of Animegifs</span></li>
		  <li><span class="read">Short anime video clips</span></li>
		</ul>
	</div>

	
</div>
</div>

<footer>        
      <a href="https://github.com/wraithseeker/AniKawaii">

        <h5 class="text-center text-info" style="color:black;">
        	<i class="fa fa-github-alt fa-lg" style="padding-right:5px;position:relative;bottom:2px;" aria-hidden="true"></i>
        	Anikawaii Github
        </h5>
      </a>
  </footer>
