<div class="container">
	<div class="row">
		<h2 class="text-center"> Wraithseeker - Full Stack Web and iOS Developer</h2>
		<div class="col-md-6">
			<h3 class="text-center">Webdev Projects</h3>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center"><a href="https://visualnoveler.com">Visualnoveler</a> - <a href="https://github.com/wraithseeker/Visualnoveler">Github link</a></h4>
					<h4 class="text-center">October 2015 - Ongoing</h4>
					<p>Visualnoveler's backend uses the Ruby on Rails framework and the front-end uses Bootstrap. Amazon S3 is used for file storage. The blogging engine was customly built which uses markdown as a renderer and supports image uploads. OAuth login using Facebook and Google+ is supported</p>
					<p>Languages used: Ruby,Javascript,CSS,Coffeescript</p>
					<p>Hosted on DigitalOcean</p>

					<h4 class="text-center"> <a href="http://forums.visualnoveler.com">Visualnoveler forums</a></h4>
					<h4 class="text-center">October 2015 - Ongoing</h4>
					<p>Visualnoveler forums is a self-hosted implementation of <a href="http://www.discourse.org/">Discourse</a> which uses SSO to sign users in from Visualnoveler.</p>
					<p>Hosted on DigitalOcean</p>

					<h4 class="text-center"> <a href="http://anikawaii.com">Anikawaii</a> - <a href="https://github.com/wraithseeker/Anikawaii">Github link</a></h4>
					<h4 class="text-center">August 2015 - Ongoing</h4>
					<p>Anikawaii is built using Rails and uses Bootstrap as the front-end which uses the reddit JSON responses to update the gif gallery daily in the website. Anikawaii also hosts the mobile API endpoints needed for my mobile applications to function. 

					<p>Hosted on DigitalOcean</p>
					<p>Languages used: Ruby,Javascript,CSS</p>

					<h4 class="text-center"> <a href="http://wraithseeker.com">Wraithseeker</a></h4>
					<h4 class="text-center">February 2016 - February 2016</h4>
					<p>My personal blogging website which uses Wordpress that migrated from Bluehost to Digitalocean. 

					<p>Hosted on DigitalOcean</p>
					<p>Languages used: Ruby,Javascript,CSS</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<h3 class="text-center">iOS Mobile Projects</h3>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/make-the-path/id990331714?ls=1&mt=8">Make the Path</a></h4>
					<h4 class="text-center">May 2015 - July 2015</h4>
					<p>Make the Path is a 2D iOS game created using SpriteKit with Xcode.</p>
					<p>Languages used: Swift,Objective-C</p>

					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/awwnime-anime-fanart/id1046419607?ls=1&mt=8">Awwnime</a></h4>
					<h4 class="text-center">October 2015 - November 2015</h4>
					<p> iOS gallery app which communicates with an API and is built with a custom gallery template which is used for the other image apps below.</p>
					<p>Languages used: Swift,Objective-C</p>

					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/anime-coverage-daily-anime/id998928477?ls=1&mt=8">Anime Coverage</a></h4>
					<h4 class="text-center">May 2015 - June 2015</h4>
					<p>iOS RSS reader app.</p>
					<p>Languages used: Swift,Objective-C</p>

					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/detective-cat-find-missing/id1046472560?ls=1&mt=8">Detective Cat</a></h4>
					<h4 class="text-center">September 2015 - November 2015</h4>
					<p>Cross platform game for Android and iOS built using Unity.</p>
					<p>Languages used: C#</p>

					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/hd-wallpapers-heroes-for-dota/id1045660127?ls=1&mt=8">HD Wallpapers & Heroes for Dota 2</a></h4>
					<h4 class="text-center">October 2015 - October 2015</h4>
					<p>iOS gallery app which communicates with the API hosted on my website.</p>
					<p>Languages used: Swift,Objective-C</p>

					<h4 class="text-center"> <a href="https://itunes.apple.com/us/app/leagueart-wallpapers-league/id982748530?ls=1&mt=8">LeagueArt Wallpapers</a></h4>
					<h4 class="text-center">October 2015 - October 2015</h4>
					<p>iOS gallery app which communicates with the API hosted on my website.</p>
					<p>Languages used: Swift,Objective-C</p>
				</div>
			</div>
		</div>
	</div>
</div>