@import "bootstrap-sprockets";
@import "bootstrap";
.back-padding{
	margin-right: 15px;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
  .search-query {
    padding-right: 30px;
    padding-left: 10px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    width: 240px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  button {
    border: 0;
    background: none;
    color: #888;
    //$blue-color
    /** belows styles are working good */
    padding: 5px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .search-query:focus + button {
     z-index: 3; 
  }
}
.gif-column {
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.01) 100%);
    background: linear-gradient(to top,rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.01) 100%);
    border-radius: 0 0 3px 3px;
    bottom: 0;
    color: #fff;
    padding: 5px;
    //padding-top: 40px;
    position: absolute;
    //text-align: left;
    text-shadow: 0 0 1px rgba(0,0,0,0.59);
    width: 100%;
    z-index: 999;
}


.bg-image {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
textarea{
	width: 160px;
	border-radius: 6px;
}


.giftext {
	position:  absolute;
	top: 0%;

	z-index: 1;
}
// phones
@media(max-width: 500px) {
	.vote {
			position: absolute !important;
			top: 87% !important;
			right: 45px;
			z-index: 1;
		}
	.navbar-brand{
		padding-left: 120px !important;
		padding-top: 22px;
	}
}


// tablets
@media(min-width: 500px) and (max-width: 768px) {
	.vote {
		position: absolute !important;
		top: 93% !important;

		right: 45px;
		z-index: 1;
	}

	.vote h4 {
	}

}




@media(min-width: 768px) and (max-width: 991px) {
	.vote {
		position: absolute;
		top: 90% !important;
		right: 45px;
		z-index: 1;

	}
}

// small desktop
@media(min-width: 991px) and (max-width: 1200px) {
	.vote {

		position: absolute;
		top: 155px !important;
		right: 45px;
		z-index: 1;
	}
}

// star
.vote {
	position: absolute;
	top: 195px;
	right: 45px;
	z-index: 1;

}


// for anime title
.module > header > h3 {
	position: absolute;
	top: 175px;
	left: 0;
	color: white;
	width: 80%;
	height: 10%;
	overflow: hidden;
	font-style: italic;
	z-index: 1;
	font-size: 1.0em;
	background: rgba(0,0,0,0.60);
}



// nav items
.navitem {
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 16px;
   color: black;
}

// logo
.navbar-brand{
	padding-left: 180px;
	padding-top: 22px;
}
.logotitle{
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-weight: bold;
	position: relative;
	color: black;
}


// resize video for show anime gif
.resize {
	width: 100%;
	height: 100%;
}




.thumb{
	margin-right: 0px;
	padding: 0px !important
}

.col-lg-4 {
	padding: 0px !important;
}



.embed-responsive-item {
	padding: 0px !important;
	margin-right: 0px;
	z-index: 0;
	
}

.indent-text {
	margin-left: 40px;
}

.padding-search {
	position: relative;
	top: 13px;
	left: 20px;
}

.read {
	font-size: 1.20em;
}

.inline-element{
	
}
.flickr_pagination {
  text-align: left;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }